package components

import "strconv"

templ Logo(height int, width int) {
	<div class="flex items-center text-2xl gap-4 p-4">
		<img
			src="/static/public/images/logo_circle.svg"
			alt="sittella lab logo, bird"
			height={ strconv.Itoa(height) }
			width={ strconv.Itoa(width) }
		/>
		<p>Sittella <span class="text-orange">Lab</span></p>
	</div>
}
