package components

type url struct {
	href  templ.SafeURL
	label string
}

var links = [5]url{
	{"/", "Home"},
	{"/about", "About"},
	{"/services", "Services"},
	{"/contact", "Contact"},
	{"/faq", "FAQ"},
}

templ NavLink(href templ.SafeURL, label string) {
	<li>
		<a href={ href } class="hover:text-orange">{ label }</a>
	</li>
}

templ NavBar() {
	<ul class="flex text-lg font-medium gap-4 p-4">
		for _, item := range links {
			@NavLink(item.href, item.label)
		}
	</ul>
}
